@font-face {
  font-family: 'iconfont';  /* project id 1161048 */
  src: url('//at.alicdn.com/t/font_1161048_txf357bpq8.eot');
  src: url('//at.alicdn.com/t/font_1161048_txf357bpq8.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1161048_txf357bpq8.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1161048_txf357bpq8.woff') format('woff'),
  url('//at.alicdn.com/t/font_1161048_txf357bpq8.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1161048_txf357bpq8.svg#iconfont') format('svg');
}


.iconfont {
  font-family: "iconfont" !important;

  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconxin1:before {
  content: "\e6af";
}

.iconxin:before {
  content: "\e6c2";
}


